body
  padding 20px

input[type="file"]
  position absolute
  top 0
  right 0
  margin 0
  -webkit-appearance none
  width 56px
  opacity 0
  cursor pointer

.filebtncon
  position relative

table
  margin-top 10px
  img
    border 0

.f-hide
  display none

.f-show 
  display block