<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Meadowlark Travel</title>
  <style>
    html,body {
      width:100%;
      height:100%;
      margin:0;
      padding:0;
      background:#ddd;
    }
    
    .content {
      width:100%;
    }
  
    .wrapper {
      width:500px;
      margin:0px auto;
    }

    .words {
      margin-left: 10px;
    }
  </style>
</head>
<body>
  <div>
      <img src="img/logo.png"> <h1>hahaha~~ It's Bird!</h1>
      <div>I feel a little bit disappointed!</div>
  </div>
  <div class="content">
    <div class="wrapper">
      {{{body}}}
    </div>
  </div>
</body>
</html>