<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <style>
      .m-wrapper {
        width:980px;
        margin:0px auto;
      }
      
      .m-hr-line {
        color:#ddd;
      }

      .m-footer {
        text-align: center;
        color:gray;
      }

      .m-margin-top {
        margin-top:50px;
      }
  </style>
</head>
<body>
  <div class="m-wrapper">
    <div class="m-header">
      <img src="/img/logo.png" class="m-logo"/>
      <h1>Welcome to Ann's Plan Travel</h1>
      <h4>Conntact:annyran0423@gmail.com</h4>
      <h4>已经有的tourist place list:</h4>
      <ul>
        {{#tourlist}}
          <li>
            <a href={{href}}>{{place}}</a>
          </li>
        {{/tourlist}}
      </ul>
    </div>
    <div class="m-content m-margin-top">
    </div>
    <hr class="m-margin-top m-hr-line">
    <div class="m-footer">
      <p>©Ann's Design Company.</p>
    </div>
  </div>
</body>
</html>