<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>文件上传</title>
  <link href="../css/comm/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="../css/comm/bootstrap-theme.min.css"  type="text/css" rel="stylesheet">
  <link href="../css/file.css" type="text/css" rel="stylesheet"> 
  <script src="../js/comm/sea-2.3.0.js"></script>
  <script src="../js/comm/handlebar.js"></script>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/pichandler">
  <div class="container">
    <span type="button" class="btn btn-success fileinput-button filebtncon">
      <span>添加文件</span>
      <input type="file" name="files[]" multiple class="j-addFile" id="filebtn">
    </span>
    <button type="button" class="btn btn-primary j-uploadFile">上传文件</button>
    <button type="button" class="btn btn-info j-cancelFile">取消上传</button>
  </div>
</form>
<table class="table table-striped j-table">
</table>
  <script>
    seajs.config({
      base:"/dist/",
      alias:{
        jquery:"comm/jquery-1.11.2.js"
      }
    });
    //主入口文件
   seajs.use('index.js');
  </script>
</body>
</html>