<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>this is homepage</title>
  <link href="vendor/bootstrap/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet"> 
  <style>
      .m-wrapper {
        width:980px;
        margin:0px auto;
      }

      .m-header h1 {
        margin:0 0 0 50px;
        height:186px;
        line-height:300px;
      }
      
      .m-logo {
        float:left;
      }

      .m-margin-top {
        margin-top:50px;
      }
  </style>
  <script src="js/jquery-1.11.2.js" type="text/javascript"></script>
</head>
<body>
  <div class="m-wrapper">
    <div class="m-header">
      <img src="/img/logo.png" class="m-logo"/>
      <h1>Welcome to Ann's Plan Travel</h1>
      <h4>BTW 顺便复习下git 的相关命令操作</h4>
    </div>
    <div class="m-content m-margin-top">
      <table class="table table-striped">
        <tr>
          <td>Place</td>
          <td>Price</td>
          <td>Size</td>
          <td>Weather</td>
          <td>Status</td>
        </tr>
        {{#placeList}}
          <tr>
            <td><span name="place" class="j-place">{{place}}</span></td>
            <td><span name="price">{{price}}</span></td>
            <td><input type="number" min="{{../minSize}}" max="{{../maxSize}}" name="size" value="{{../minSize}}"/></td>
            <td>
                {{#ifEqual status '==' 'cloudy'}}
                  多云
                {{/ifEqual}}
                {{#ifEqual status '==' 'sunny'}}
                  晴朗
                {{/ifEqual}}
                {{#ifEqual status '==' 'rainy'}}
                  小雨
                {{/ifEqual}}
            </td>
            <td>
              <button class="btn btn-success j-detail">detail</button>
              <button class="btn btn-primary j-order">order</button>
              <button class="btn btn-danger j-cancel">cancel</button>
            </td>
          </tr>
        {{/placeList}}
      </table>
    </div>
    <hr class="m-margin-top">
    <div>
      <p>©Ann's Design Company.</p>
    </div>
  </div>
  <script>
    $(function(){
      var jqDom ={
        detail:$('.j-detail')
      };

      var controller = {
        initial:function(){
          this.bindEvents();
        },
        bindEvents:function(){
          jqDom.detail.on('click',function(){
            var $pointer = $(this),
                $row = $pointer.parent().parent(),
                place = $row.find('.j-place').html();

            window.location.href = '/tourPlace/'+place;
          });
        }
      };

      var view = {

      };

      var model = {

      };

      var main = function(){
        controller.initial();
      };

      main();

    });
  </script>
</body>
</html>