<div class="m-content">
  <table class="table table-striped">
    <tr>
      <td>Location</td>
      <td>Size</td>
      <td>Price</td>
      <td>Status</td>
    </tr>
    <!-- handlebars 通过each 来遍历数组 -->
    {{#places}}
    <tr>
      <td><span class="j-place">{{place}}</span></td>
      <td><input type="number" class="m-input j-size" min="{{../minSize}}" max="{{../maxSize}}" value="1"/></td>
      <td><span class="j-price">{{price}}</span></td>
      <td>
        <input type="button" class="btn btn-primary j-order" value="预定"/>
        <input type="button" class="btn btn-danger j-cancel" value="取消"/>
      </td>
    </tr>
    {{/places}}
  </table>
  <p class="bg-success m-hide j-tip">
    已经成功添加到订单！
  </p>
</div>

