<div class="m-content">
<form action="/testHandler" method="post" name="regForm" role="form">
  <table class="table table-striped">
    <tr>
      <td>Location</td>
      <td>Size</td>
      <td>Price</td>
      <td>Status</td>
    </tr>
    {{#places}}
    <tr>
      <td><span class="j-place">{{place}}</span></td>
      <td><input type="number" class="m-input j-size" min="{{../minSize}}" max="{{../maxSize}}" value="1"/></td>
      <td><span class="j-price">{{price}}</span></td>
      <td>
        <button class="btn btn-primary j-reg">预定</button>
        <button class="btn btn-danger j-cancel">取消</button>
      </td>
    </tr>
    {{/places}}
  </table>
  <!-- 表单里面的值一定要有传的值对应的name!!!不然页面无法跳转的 -->
  <input type="hidden" value="ann" name="name"/>
  <input type="hidden" value="1051961997@qq.com" name="email"/>
</form>
  <p class="bg-success m-hide j-tip">
    已经成功添加到订单！
  </p>
</div>

<!-- 
  <script>
  $(function(){
    var jqDom = {
      order:$('.j-order')
    };

    var controller = {
      initial:function(){
        var pointer = this;
        jqDom.order.on('click',function(){
          var data = model.setData($(this));
          model.refreshData(data.location,data.size,data.price);
          console.log('send ajax request....');
          pointer.ajaxRequest();
        });
      },
      ajaxRequest:function(){
        /*$.ajax(
          {
            url:'/registerHandler',
            type:'post',
            data:model.data,
            success:function(){
              console.log('success....');
            },
            error:function(){
              console.log('error....');
            }
          }
        );*/

        $.ajax(
          {
            url:'/registerHandler',
            type:'post',
            data:{name:'ann',email:'1051961997'},
            success:function(data){
              console.log(data);
            },
            error:function(){
              console.log('error');
            }
          }
        );
      }
    };

    var view = {
    };

    var model = {
      data:'',
      refreshData:function(loca,size,price){
        this.data = {
          location:loca,
          size:size,
          price:price
        };
      },
      setData:function($elm){
        var $row = $elm.parent().parent(),
            location = $row.find('.j-place').html(),
            size = $row.find('.j-size').val(),
            price = $row.find('.j-price').html();

        return {
          location:location,
          size:size,
          price:price
        };
      }
    };

    //入口脚本
    var main = function(){
      controller.initial();
    };

    main();
  });
  </script>
-->

<script>
  $(function(){
    var formData = new FormData($('form')[0]);

    $('.j-reg').on('click',function(e){
        console.log('send send send...');
        $.ajax({
          url:'/testHandler',
          type:'post',
          data:{name:'ann',email:'1051961997'},
          success:function(data){
            console.log(data);
          },
          error:function(){
            console.log('error');
          }
        });
    });
  });
</script>

