<div>
  <table class="table table-striped">
    <tr>
      <td>Location</td>
      <td>Money</td>
    </tr>
    {{#orderList}}
      <tr>
        <td>{{location}}</td>
        <td>{{price}}</td>
      </tr>
    {{/orderList}}
  </table>
  <input type="button" class="btn j-back" value="返回"/>
</div>
<script>
  $(function(){
    //点击后退按钮
    $('.j-back').on('click',function(){
      console.log('back');
      //js 控制浏览器后退
      window.history.back();
    });
  });
</script>