<div>
  <table class="table table-striped">
    <tr>
      <td>Location</td>
      <td>Money</td>
    </tr>
    {{#carlist}}
      <tr>
        <td>{{location}}</td>
        <td>{{price}}</td>
      </tr>
    {{/carlist}}
  </table>
</div>