<form action="/testHandler" method="post" name="regForm">
  <table class="table table-striped">
    <tr>
      <td>Location</td>
      <td>Size</td>
      <td>Price</td>
      <td>Status</td>
    </tr>
    <tr>  
      <td>Location</td>
      <td>Size</td>
      <td>Price</td>
      <td><input type="button" class="btn btn-primary j-reg" value="test"/></td>
    </tr>
    {{#places}}
    <tr>
      <td><span class="j-place">{{place}}</span></td>
      <td><input type="number" class="m-input j-size" min="{{../minSize}}" max="{{../maxSize}}" value="1"/></td>
      <td><span class="j-price">{{price}}</span></td>
      <td>
        <input type="button" class="btn btn-primary j-reg" value="预定"/>
        <input type="button" class="btn btn-danger j-cancel" value="取消"/>
      </td>
    </tr>
    {{/places}}
  </table>
</form>
<script>
  $(function(){
    $('.j-reg').on('click',function(e){
        console.log('send ajax request....');
        $.ajax({
          url:'/testHandler',
          type:'post',
          data:{name:'ann',email:'1051961997'},
          success:function(data){
            console.log('success');
          },
          error:function(){
            console.log('error');
          }
        });
    });
  });
</script>